@media (min-width: 800px) {
	#menu {
		display: none;
	}

	.navigation {
		display: flex;
		flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
	}
	
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
    
	nav a {
		flex: 1 1 100%;
        display: block;

	}

    .copyright {
        font-size: 1.5rem;
    }

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	section {
		width: 50%;
		height: auto;
	}

	.one, .four {
		grid-column: 1 / 3;
		width: 98%;
	}

	.two, .three {
		width: 85%;
	}



}