* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
    background-color: rgb(123, 255, 134);
    font-family: "EB Garamond", serif;
}


h1 {
    display: flex;
    justify-content: center;
	background-color: rgb(55, 255, 71);
	padding: 20px;
	color:  rgb(0, 0, 0);

}

h2 {
    display: flex;
    justify-content: center;
    background-color: rgb(55, 255, 71);
    border-radius: 10px;
    padding: 10px;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    max-width: 1920px;
}

div {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(123, 255, 134);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 0px 20px 20px 20px;
}

.descriptions {
    width: 800px;
    font-size: 1.25rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 395px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(123, 255, 134);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin: 0px 20px 20px 20px;
}

.links a {
	display: block;
    color: #011a00;
	padding: 15px;
	text-decoration: none;
}

.links a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: rgb(42, 195, 55);
}



section {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    background-color: rgb(55, 255, 71);
}

img {
    width: 200px;
}

.navigation {
	list-style: none;
	display: flex;
	background-color: #055a00;
	align-items: center;
    padding: 8px;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: #94dce2;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: rgb(78, 196, 167);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 255, 71);
    padding: 30px 30px 73px;
    margin-top: 65px;
}

.copyright {
    font-size: 1.5rem;
}

.modifiedDate {
    font-size: 1rem;
    color: rgb(58, 60, 0);
    font-weight: 500;
    padding: 3  px;
}