 /* Larger Views */
@media (min-width: 800px) {
	header {
		display: flex;
		align-items: center;
        padding: 30px;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        display: block;

	}

    #menu {
		display: none;
	}

    .copyright {
        font-size: 1.5rem;
    }
}
