body {
    font-family: "EB Garamond", serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
    background-color: rgb(123, 255, 134);
}

/* mobile */
header {
	background-color: rgb(55, 255, 71);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px rgb(0, 109, 9);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    font-size: 2.3rem;
}

#menu.open::before {
	content: "X";
}

.open a {
	display: block;
}

header,
main {
	margin: 0 auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.album {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    padding: 2rem;
}

figure {
    padding: 1rem;
}

h1, h2 {
	font-size: 2rem;
}

h2 {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: none;
	color: #000000;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.4rem;
}

nav a:hover {
	text-decoration: underline double;
	background-color: rgb(78, 196, 167);
	color: #000;
}

.active {
	color: rgb(88, 1, 141);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 255, 71);
    padding: 30px 30px 40px;
    margin-top: 65px;
    box-shadow: 0 0 30px rgb(0, 109, 9);
}

.copyright {
    font-weight: 700;
    padding-bottom: 15px;
}

.modifiedDate {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 3px;
}